<div class="container">
    <div class="row"></div>

    <div class="row sous-titre">
        <div class="card-panel col s12 m12 ">
            <h5><i class="material-icons red-text left">whatshot</i>Tendances</h5>
        </div>
    </div>
    <div class="row">
        {% for tend in seriesTend %}
            <div class="col s12 m6 l3">
                <div class="card sticky-action medium">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="https://image.tmdb.org/t/p/original{{ tend.poster_path }}">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator">{{ tend.name }}<i class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">{{ tend.name }}<i class="material-icons right">close</i></span>
                        <p>{{ tend.overview }}</p>
                    </div>
                    <div class="card-action">
                        <a href="/show/{{ tend.id }}"><span class="red-text text-darken-1">Explorer</span></a>
                        {% if connecter == 1 %}
                        <a href="/" class="waves-effect waves-light btn red darken-1"><i class="material-icons left">add</i>Ajouter</a>
                        {% else %}
                        <a href="/signin" class="waves-effect waves-light btn red darken-1"><i class="material-icons left">add</i>Ajouter</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


    <div class="row sous-titre">
        <div class="card-panel col s12 m12 ">
            <h5><i class="material-icons red-text left">new_releases</i>Nouveautés</h5>
        </div>
    </div>
    <div class="row">
        {% for nouv in seriesNouv %}
            <div class="col s12 m6 l3">
                <div class="card sticky-action medium">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="https://image.tmdb.org/t/p/original{{ nouv.poster_path }}">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator">{{ nouv.name }}<i class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">{{ nouv.name }}<i class="material-icons right">close</i></span>
                        <p>{{ nouv.overview }}</p>
                    </div>
                    <div class="card-action">
                        <a href="/show/{{ nouv.id }}"><span class="red-text text-darken-1">Explorer</span></a>
                        {% if connecter == 1 %}
                            <a href="/" class="waves-effect waves-light btn red darken-1"><i class="material-icons left">add</i>Ajouter</a>
                        {% else %}
                            <a href="/signin" class="waves-effect waves-light btn red darken-1"><i class="material-icons left">add</i>Ajouter</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>