<div class="row container section grey lighten-3 col s12 m12 l12">


	<div class="row sous-titre">
        <div class="card-panel col s12 m12 ">
            <h5><i class="material-icons red-text left">account_circle</i>Votre profil</h5>
		</div>
		<div class="row">
			<div class="card-content col s12 m12 l12"> <!-- Le contenu de la carte. -->
				<ul class="collection z-depth-1">
					<li class="collection-item">
						<div class="row">
							<div class="col s5 grey-text darken-1"> Votre pseudo </div>
							<div class="col s7 grey-text text-darken-4 right-align">{{user.name}}</div>
						</div>
					</li>
					<li class="collection-item">
						<div class="row">
							<div class="col s5 grey-text darken-1"> Votre adresse mail </div>
							<div class="col s7 grey-text text-darken-4 right-align">{{user.email}}</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="row sous-titre">
        <div class="card-panel col s12 m12 ">
            <h5><i class="material-icons red-text left">playlist_add_check</i>Vos séries visionnées</h5>
        </div>
    </div>
    <ul class="collapsible" data-collapsible="accordion">
		<li>
			<div class="collapsible-header">Liste des épisodes</div>
			<div class="collapsible-body">
				<ul class="collection">
                    {% for episode in tabEpisodes %}
					<div id="bloc_{{ episode.id }}"><li class="collection-item"><b>Episode {{ episode.number }} : </b>{{ episode.name }}</li><a name="add" id="{{ episode.id }}" class="deleteEpisode"><i class="icone_episode material-icons red-text darken-1 right">clear</i></a></div>
                    {% endfor %}
				</ul>
			</div>
		</li>
    </ul>
	
</div>