<div class="container"> <!-- Contient toute la page. -->
    <div class="row"> <!-- Contient une ligne. -->
            <div class="card-panel col s12 m12 l12" class="valign-wrapper"> <!-- Une boîte pour le titre, centrée verticalement -->
                <h5><i class="material-icons red-text left">account_circle</i>Votre profil</h5>
            </div>
			
            <div class="row"> <!-- Et une boîte pour les informations personnelles -->
              
				<div class="col s6 m6 l6">
					<div class="card">
					<div class="card-image"> <!-- La photo de profil -->
					<img src="images/essai_profil.jpg"> <!-- C'est pour que l'image soit ronde, la classe. -->
					</div>
					</div>
				</div>	
				
				<div class="col s6 m6 l6">	
					<div class="card-content"> <!-- Le contenu de la carte. -->
					<ul class="collection z-depth-1">
						<li class="collection-item">
							<div class="row">
							<div class="col s5 grey-text darken-1"> Votre pseudo </div>
							<div class="col s7 grey-text text-darken-4 right-align">{{user.name}}</div>
							</div>
						</li>
						<li class="collection-item">
							<div class="row">
							<div class="col s5 grey-text darken-1"> Votre adresse mail </div>
							<div class="col s7 grey-text text-darken-4 right-align">{{user.email}}</div>
							</div>
						</li>
					</ul>
							<button class="btn waves-effect waves-light red darken-1 col s10 m10 l12" name="action"> 
							<i class="material-icons white-text left">mode_edit</i> Modifier 
							</button>
					</div>
				</div>  

            </div>
			
        
			<div class="card-panel col s12 m12 l12 valign-wrapper"> <!-- Une boîte pour le titre, centrée verticalement -->
					<h5><i class="material-icons red-text left">favorite</i>Vos séries préférées</h5>
			</div>
			<!-- Affichage des séries de l'utilisateur -->
			
			<div class="row">
				<div class="row container section grey lighten-3 col l12">
    <div class="card horizontal small">
        <div class="card-image valign-wrapper"> <!-- Il faut mettre là l'image de la série -->
			{% if season.poster_path is not empty %}
				<img class="valign" src="https://image.tmdb.org/t/p/original/{{ season.poster_path }}">
			{% else %}
				<img class="valign" src="http://www.ztackey.com/wp-content/uploads/2016/11/placeholder-1.jpg">
			{% endif %}
        </div>
        <div class="card-stacked">
            <div class="card-content">
            	<h3 class="header"> Titre de la série </h3> <!-- ESSAI TITRE -->
                <h3 class="header">{{ season.name }}</h3> <!-- Là le nom de la série -->
				<!-- Pas besoin de mettre les tags pour la diffusion des séries -->
                <p>{{ season.overview }}</p>
            </div>
        </div>
    </div> 
    <ul class="collapsible" data-collapsible="accordion">
		<li>
			<div class="collapsible-header">Saison 1</div>
			<div class="collapsible-body">
				<div class="collection">
					<a class="collection-item">Episode 1</a>
					<a class="collection-item">Episode 2</a>
					<a class="collection-item">Episode 3</a>
					<a class="collection-item">Episode 4</a>
					<a class="collection-item">Episode 5</a>
				</div>
			</div>
		</li>
		<li>
			<div class="collapsible-header">Saison 2</div>
			<div class="collapsible-body">
				<div class="collection">
					<a class="collection-item">Episode 1</a>
					<a class="collection-item">Episode 2</a>
					<a class="collection-item">Episode 3</a>
					<a class="collection-item">Episode 4</a>
					<a class="collection-item">Episode 5</a>
				</div>
			</div>
		</li>
		<li>
			<div class="collapsible-header">Saison 3</div>
			<div class="collapsible-body">
				<div class="collection">
					<a class="collection-item">Episode 1</a>
					<a class="collection-item">Episode 2</a>
					<a class="collection-item">Episode 3</a>
					<a class="collection-item">Episode 4</a>
					<a class="collection-item">Episode 5</a>
				</div>
			</div>
		</li>
	</ul>
</div>      
</div>
		
</div>