<div class="container">
    <div class="row"></div>
    <div class="row sous-titre">
        <div class="card-panel col s12 m12 ">
            <h5><i class="material-icons red-text">search</i> Résultats</h5>
        </div>
    </div>
    <div class="row">
        {% for serie in series %}
            <div class="col s12 m6 l3">
                <div class="card sticky-action medium">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="https://image.tmdb.org/t/p/original{{ serie.poster_path }}">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator">{{ serie.name }}<i class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">{{ serie.name }}<i class="material-icons right">close</i></span>
                        <p>{{ serie.overview }}</p>
                    </div>
                    <div class="card-action">
                        <a href="/show/{{ serie.id }}"><span class="red-text text-darken-1">Explorer</span></a>
                        <a class="waves-effect waves-light btn red darken-1"><i class="material-icons left">add</i>Ajouter</a>
                    </div>
                </div>
            </div>
		{% else %}
			<span>Aucune série correspondant aux critères trouvée.</span>	
        {% endfor %}
	</div>
	
	{{series|length}}
	{% if series|length > 20 %}
	<div class="row">
		<ul class="pagination center-align">
			<li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
			<li class="active"><a href="#!">1</a></li>
			<li class="waves-effect"><a href="#!">2</a></li>
			<li class="waves-effect"><a href="#!">3</a></li>
			<li class="waves-effect"><a href="#!">4</a></li>
			<li class="waves-effect"><a href="#!">5</a></li>
			<li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
		  </ul>       
    </div>
	{% endif %}
	
</div>