<div class="container">
    <div class="row"></div>
    <div class="row sous-titre">
        <div class="card-panel col s12 m12 ">
            <h5><i class="material-icons red-text">search</i> Résultats</h5>
        </div>
    </div>
    <div class="row">
        {% for serie in series %}
            <div class="col s12 m6 l3">
                <div class="card sticky-action medium">
                    <div class="card-image waves-effect waves-block waves-light">
						{% if serie.poster_path is not empty %}
							<img class="activator" src="https://image.tmdb.org/t/p/original{{ serie.poster_path }}">
						{% else %}
							<img class="activator" src="http://www.ztackey.com/wp-content/uploads/2016/11/placeholder-1.jpg">
						{% endif %}
                    </div>
                    <div class="card-content">
                        <span class="card-title activator">{{ serie.name }}<i class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">{{ serie.name }}<i class="material-icons right">close</i></span>
                        <p>{{ serie.overview }}</p>
                    </div>
                    <div class="card-action">
                        <a href="/show/{{ serie.id }}"><span class="red-text text-darken-1">Explorer</span></a>
                        <a class="waves-effect waves-light btn red darken-1"><i class="material-icons left">add</i>Ajouter</a>
                    </div>
                </div>
            </div>
		{% else %}
			<span>Aucune série correspondant aux critères trouvée.</span>	
        {% endfor %}
	</div>	
</div>