
<!-- Block serie -->
<div class="parallax-container">
	{% if serie.backdrop_path is not empty %}
		<div class="parallax"><img src="https://image.tmdb.org/t/p/original{{ serie.backdrop_path }}"></div>
	{% else %}
		<div class="parallax"><img src="https://mave.me/img/projects/full_placeholder.png"></div>
	{% endif %}
</div>
<div class="section white">
    <div class="row container">
		{% if true %} <!--Affiche que si utilisateur connecte-->
        <div class="progress grey lighten-2">
            <div class="determinate red darken-1" style="width: 70%"></div>
        </div>
		{% endif %}
        <h2 class="header">{{ serie.name }}</h2>
        <p class="grey-text text-darken-3 lighten-3">{{ serie.overview }}</p>
		{% for genre in genres %}
		<div class="chip">
			{{genre.name}}
        </div>
		{% endfor %}

    </div>
</div>

<!-- Block season -->
{% for season in seasons %}

<div class="row container section grey lighten-3 col l12">
    <div class="card horizontal small">
        <div class="card-image valign-wrapper">
			{% if season.poster_path is not empty %}
				<img class="valign" src="https://image.tmdb.org/t/p/original/{{ season.poster_path }}">
			{% else %}
				<img class="valign" src="http://www.ztackey.com/wp-content/uploads/2016/11/placeholder-1.jpg">
			{% endif %}
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <h3 class="header">{{ season.name }}</h3>
                <div class="chip">
                    {{ season.air_date }}
                </div>
                <p>{{ season.overview }}</p>
            </div>
        </div>
    </div> 
    <ul class="collapsible" data-collapsible="accordion">
        {% for episode in season.tabEpisodes %}
        <li>
            <div class="collapsible-header"><b>Episode {{ episode.number }} :</b> {{ episode.name }}</div>
			{% if true %}<i class="icone_ajout_episode material-icons red-text darken-1 right">add</i>{% endif %} <!--Affiche que si utilisateur connecte-->          
			{% if episode.overview is not empty %}
				<div class="collapsible-body"><p class="white">{{ episode.overview }}</p></div>
			{% endif %}
        </li>
        {% endfor %}
    </ul>
</div>

{% endfor %}
