
<!-- Block serie -->
<div class="parallax-container">
    <div class="parallax"><img src="https://image.tmdb.org/t/p/original{{ serie.backdrop_path }}"></div>
</div>
<div class="section white">
    <div class="row container">
        <div class="progress grey lighten-2">
            <div class="determinate red darken-1" style="width: 70%"></div>
        </div>
        <h2 class="header">{{ serie.name }}</h2>
        <p class="grey-text text-darken-3 lighten-3">{{ serie.overview }}</p>

    </div>
</div>
<!-- block season -->


{% for season in seasons %}

<div class="row container section grey lighten-3 col l12">
    <div class="card horizontal small">
        <div class="card-image valign-wrapper">
            <img class="valign" src="https://image.tmdb.org/t/p/original/{{ season.poster_path }}">
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <h3 class="header">{{ season.name }}</h3>
                <div class="chip">
                    {{ season.air_date }}
                </div>
                <p>{{ season.overview }}</p>
            </div>
        </div>
    </div> 
    <ul class="collapsible" data-collapsible="accordion">
        {% for episode in season.tabEpisodes %}
        <li>
            <div class="collapsible-header"><b>Episode {{ episode.number }} :</b> {{ episode.name }}</div>
			<i class="icone_ajout_episode material-icons red-text darken-1 right">add</i>
            <div class="collapsible-body"><p class="white">{{ episode.overview }}</p></div>
        </li>
        {% endfor %}
    </ul>
</div>

{% endfor %}
